/* add_quiz_styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

p {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4caf50;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1e42b9;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2741d3;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #1936b9;
}

.success-message {
    text-align: center;
    color: rgb(0, 30, 128);
    margin-top: 20px;
}
